.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-heading {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link {
  color: rgb(18, 33, 42);
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link01 {
  color: rgb(18, 33, 42);
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link02 {
  color: #12212a;
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link03 {
  color: #12212a;
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://i.ibb.co/BBH1J6H/vecteezy-digital-transformation-change-management-internet-of-14847319-170-1.jpg');
}
.home-hero {
  width: 60%;
  height: auto;
  display: flex;
  opacity: 0.85;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
.home-hero-text-container {
  width: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.home-heading1 {
  color: #12212A;
  font-size: 48px;
  align-self: center;
  font-family: Fira Sans;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text {
  color: var(--dl-color-gray-black);
  height: auto;
  align-self: center;
  font-family: Playfair Display;
  margin-bottom: 0px;
}
.home-about {
  flex: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: url('https://i.ibb.co/yYn7060/vecteezy-genetic-research-background-illustration-ai-generative-23570322-183.jpg');
}
.home-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container {
  width: 60%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-color: #D9D9D9;
}
.home-text07 {
  color: #12212A;
  opacity: 1;
  font-family: Fira Sans;
}
.home-content-container {
  display: flex;
  opacity: 0.8;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
  background-color: #D9D9D9;
}
.home-about-1 {
  width: 60%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
.home-container02 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-text08 {
  width: 100%;
  align-self: flex-start;
  text-align: left;
  font-family: Playfair Display;
}
.home-container03 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-text09 {
  text-align: left;
  font-family: Playfair Display;
}
.home-container04 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-text10 {
  text-align: left;
  font-family: Playfair Display;
}
.home-container05 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-text11 {
  text-align: left;
  font-family: Playfair Display;
}
.home-link04 {
  text-decoration: none;
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-skills {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text12 {
  color: #12212a;
  font-size: 48px;
  font-family: Fira Sans;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-card {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon {
  fill: #A8DAFB;
  width: 33%;
  height: auto;
}
.home-content-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading2 {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-card1 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon04 {
  fill: #A8DAFB;
  width: 33%;
  height: auto;
}
.home-content-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading3 {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text14 {
  text-align: center;
}
.home-card2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon06 {
  fill: #A8DAFB;
  width: 33%;
  height: auto;
}
.home-content-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading4 {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text15 {
  text-align: center;
}
.home-card3 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon08 {
  fill: #A8DAFB;
  width: 33%;
  height: auto;
}
.home-content-container4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading5 {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text16 {
  text-align: center;
  font-family: Playfair Display;
}
.home-card4 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon10 {
  fill: #A8DAFB;
  width: 33%;
  height: auto;
}
.home-content-container5 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading6 {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text17 {
  text-align: center;
  font-family: Playfair Display;
}
.home-card5 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container5 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon12 {
  fill: #A8DAFB;
  width: 33%;
  height: auto;
}
.home-content-container6 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading7 {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text18 {
  text-align: center;
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-portfolio {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container2 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text19 {
  color: #12212A;
  font-size: 48px;
  font-family: Fira Sans;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
.home-blog {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home-container06 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: column;
  justify-content: space-between;
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-image {
  width: 200px;
  object-fit: cover;
}
.home-container08 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink {
  text-decoration: none;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-image1 {
  width: 200px;
  object-fit: cover;
}
.home-container10 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink1 {
  text-decoration: none;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-image2 {
  width: 200px;
  object-fit: cover;
}
.home-container12 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink2 {
  text-decoration: none;
}
.home-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-image3 {
  width: 200px;
  object-fit: cover;
}
.home-container14 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink3 {
  text-decoration: none;
}
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-image4 {
  width: 200px;
  object-fit: cover;
}
.home-container16 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink4 {
  text-decoration: none;
}
.home-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-image5 {
  width: 200px;
  object-fit: cover;
}
.home-container18 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink5 {
  text-decoration: none;
}
.home-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-image6 {
  width: 200px;
  object-fit: cover;
}
.home-container20 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-navlink6 {
  text-decoration: none;
}
.home-contact {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image7 {
  width: 50%;
  align-self: stretch;
  object-fit: cover;
}
.home-container21 {
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-heading-container3 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text64 {
  color: #12212A;
  font-size: 48px;
  font-family: Fira Sans;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
.home-text65 {
  font-size: 18px;
  font-family: Playfair Display;
  font-weight: 600;
  line-height: 1.55;
  letter-spacing: 2;
  text-transform: none;
  text-decoration: none;
}
.home-link05 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: #122E68;
}
.home-link06 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: #122E68;
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link07 {
  display: contents;
}
.home-icon14 {
  fill: #12212A;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-link08 {
  display: contents;
}
.home-image8 {
  width: 25px;
  object-fit: cover;
  text-decoration: none;
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon16 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-link09 {
  color: #12212A;
  font-size: 16px;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .home-heading {
    color: rgb(18, 33, 42);
    font-size: 24px;
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .home-container01 {
    width: 100%;
    height: 750px;
  }
  .home-hero-text-container {
    width: 100%;
  }
  .home-heading1 {
    color: rgb(18, 33, 42);
  }
  .home-text {
    color: var(--dl-color-gray-black);
    text-align: center;
    font-family: Merriweather;
  }
  .home-about {
    width: 100%;
  }
  .home-heading-container {
    width: 55%;
    opacity: 0.9;
  }
  .home-content-container {
    opacity: 0.9;
  }
  .home-text08 {
    text-align: justify;
    font-family: Merriweather;
  }
  .home-text09 {
    text-align: justify;
    font-family: Merriweather;
  }
  .home-text10 {
    text-align: justify;
    font-family: Merriweather;
  }
  .home-text11 {
    text-align: justify;
    font-family: Merriweather;
  }
  .home-link04 {
    color: rgb(18, 33, 42);
    font-size: 28px;
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 600;
    border-width: 0px;
    text-decoration: none;
    background-color: rgb(168, 218, 251);
  }
  .home-section-separator1 {
    background-color: var(--dl-color-gray-white);
  }
  .home-heading-container1 {
    margin-bottom: 0px;
  }
  .home-heading2 {
    color: rgb(18, 33, 42);
    font-size: 24px;
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .home-text13 {
    text-align: center;
    font-family: Merriweather;
  }
  .home-text14 {
    font-size: 16px;
    font-style: normal;
    font-family: Merriweather;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text15 {
    font-size: 16px;
    font-family: Merriweather;
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text16 {
    text-transform: none;
  }
  .home-text17 {
    text-transform: none;
  }
  .home-text18 {
    font-size: 16px;
    font-family: Merriweather;
    font-weight: 500;
    line-height: 1.55;
    letter-spacing: 1px;
    text-transform: none;
    text-decoration: none;
  }
  .home-section-separator2 {
    background-color: var(--dl-color-gray-white);
  }
  .home-portfolio {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .home-heading-container2 {
    margin-bottom: 0px;
  }
  .home-text19 {
    margin-bottom: 0px;
  }
  .home-container06 {
    width: 100%;
  }
  .home-container07 {
    height: 400px;
  }
  .home-image {
    width: 40%;
    align-self: center;
  }
  .home-container08 {
    width: 60%;
    align-self: center;
  }
  .home-text20 {
    font-family: Fira Sans;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-text21 {
    font-style: normal;
    margin-top: var(--dl-space-space-doubleunit);
    text-align: justify;
    font-family: Merriweather;
    font-weight: 500;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-navlink {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 600;
    margin-left: var(--dl-space-space-fourunits);
    background-color: #122E68;
  }
  .home-container09 {
    height: 400px;
    margin-top: var(--dl-space-space-fourunits);
    background-color: #a8dafb;
  }
  .home-image1 {
    width: 40%;
    align-self: center;
  }
  .home-container10 {
    width: 60%;
    align-self: center;
  }
  .home-text28 {
    font-family: Fira Sans;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-text29 {
    font-style: normal;
    margin-top: var(--dl-space-space-doubleunit);
    text-align: justify;
    font-family: Merriweather;
    font-weight: 500;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-navlink1 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 600;
    margin-left: var(--dl-space-space-fourunits);
    background-color: #122E68;
  }
  .home-container11 {
    height: 400px;
    margin-top: var(--dl-space-space-fourunits);
  }
  .home-image2 {
    width: 40%;
    align-self: center;
  }
  .home-container12 {
    width: 60%;
    align-self: center;
  }
  .home-text33 {
    font-family: Fira Sans;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-text34 {
    font-style: normal;
    margin-top: var(--dl-space-space-doubleunit);
    text-align: justify;
    font-family: Merriweather;
    font-weight: 500;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-navlink2 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 600;
    margin-left: var(--dl-space-space-fourunits);
    background-color: #122E68;
  }
  .home-container13 {
    height: 400px;
    margin-top: var(--dl-space-space-fourunits);
    background-color: #a8dafb;
  }
  .home-image3 {
    width: 40%;
    align-self: center;
  }
  .home-container14 {
    width: 60%;
    align-self: center;
  }
  .home-text41 {
    font-family: Fira Sans;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-text42 {
    font-style: normal;
    margin-top: var(--dl-space-space-doubleunit);
    text-align: justify;
    font-family: Merriweather;
    font-weight: 500;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-navlink3 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 600;
    margin-left: var(--dl-space-space-fourunits);
    background-color: #122E68;
  }
  .home-container15 {
    height: 400px;
  }
  .home-image4 {
    width: 40%;
    align-self: center;
  }
  .home-container16 {
    width: 60%;
    align-self: center;
  }
  .home-text46 {
    font-family: Fira Sans;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-text47 {
    font-style: normal;
    margin-top: var(--dl-space-space-doubleunit);
    text-align: justify;
    font-family: Merriweather;
    font-weight: 500;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-navlink4 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 600;
    margin-left: var(--dl-space-space-fourunits);
    background-color: #122E68;
  }
  .home-container17 {
    height: 400px;
    margin-top: var(--dl-space-space-fourunits);
    background-color: #a8dafb;
  }
  .home-image5 {
    width: 40%;
  }
  .home-container18 {
    width: 60%;
    align-self: center;
  }
  .home-text54 {
    font-family: Fira Sans;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-text55 {
    font-style: normal;
    margin-top: var(--dl-space-space-doubleunit);
    text-align: justify;
    font-family: Merriweather;
    font-weight: 500;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-navlink5 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 600;
    margin-left: var(--dl-space-space-fourunits);
    background-color: #122E68;
  }
  .home-container19 {
    height: 400px;
  }
  .home-image6 {
    width: 40%;
  }
  .home-container20 {
    width: 60%;
    align-self: center;
  }
  .home-text59 {
    font-family: Fira Sans;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-text60 {
    font-style: normal;
    margin-top: var(--dl-space-space-doubleunit);
    text-align: justify;
    font-family: Merriweather;
    font-weight: 500;
    margin-left: var(--dl-space-space-fourunits);
  }
  .home-navlink6 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 600;
    margin-left: var(--dl-space-space-fourunits);
    background-color: #122E68;
  }
  .home-contact {
    align-items: flex-start;
  }
  .home-text65 {
    font-style: normal;
    font-family: Merriweather;
    font-weight: 400;
  }
  .home-section-separator3 {
    background-color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .home-hero-text-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 991px) {
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading1 {
    text-align: center;
  }
  .home-text {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-links-container {
    display: none;
  }
  .home-heading-container {
    width: 100%;
  }
  .home-text07 {
    text-align: center;
  }
  .home-content-container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .home-about-1 {
    width: 65%;
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card4 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card5 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-heading-container2 {
    width: 100%;
  }
  .home-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-contact {
    flex-direction: column;
  }
  .home-image7 {
    width: 70%;
  }
  .home-container21 {
    width: 100%;
    align-items: center;
  }
  .home-heading-container3 {
    width: 100%;
  }
  .home-image8 {
    width: 70%;
  }
}
@media(max-width: 479px) {
  .home-hero-text-container {
    width: 100%;
  }
  .home-about-1 {
    width: 100%;
  }
  .home-card {
    width: 100%;
  }
  .home-card1 {
    width: 100%;
  }
  .home-card2 {
    width: 100%;
  }
  .home-card3 {
    width: 100%;
  }
  .home-card4 {
    width: 100%;
  }
  .home-card5 {
    width: 100%;
  }
  .home-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-image7 {
    width: 100%;
  }
  .home-container21 {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-image8 {
    width: 100%;
  }
}
