.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-heading {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link {
  color: rgb(18, 33, 42);
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link01 {
  color: rgb(18, 33, 42);
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link02 {
  color: #12212a;
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-right: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-link03 {
  color: #12212a;
  font-size: 24px;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-tenunits);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url('https://i.ibb.co/BBH1J6H/vecteezy-digital-transformation-change-management-internet-of-14847319-170-1.jpg');
}
.home-hero {
  width: 60%;
  height: auto;
  display: flex;
  opacity: 0.85;
  position: relative;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-left: 0px;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #f1f1f1;
}
.home-hero-text-container {
  width: auto;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.home-heading1 {
  color: #12212A;
  font-size: 48px;
  align-self: center;
  font-family: Fira Sans;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text {
  color: var(--dl-color-gray-black);
  height: auto;
  align-self: center;
  font-family: Playfair Display;
  margin-bottom: 0px;
}
.home-about {
  flex: auto;
  width: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: url('https://i.ibb.co/yYn7060/vecteezy-genetic-research-background-illustration-ai-generative-23570322-183.jpg');
}
.home-max-content-width-container {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container {
  width: 60%;
  display: flex;
  opacity: 0.8;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
  background-color: #D9D9D9;
}
.home-text05 {
  color: #12212A;
  opacity: 1;
  font-family: Fira Sans;
}
.home-content-container {
  display: flex;
  opacity: 0.8;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
  background-color: #D9D9D9;
}
.home-about-1 {
  width: 60%;
  display: flex;
  padding: var(--dl-space-space-fourunits);
  align-self: stretch;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-900);
}
.home-container02 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-text06 {
  width: 100%;
  align-self: flex-start;
  text-align: left;
  font-family: Playfair Display;
}
.home-container03 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-text07 {
  text-align: left;
  font-family: Playfair Display;
}
.home-container04 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home-text08 {
  text-align: left;
  font-family: Playfair Display;
}
.home-link04 {
  text-decoration: none;
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-skills {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container1 {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text09 {
  color: #12212a;
  font-size: 48px;
  font-family: Fira Sans;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-card {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon {
  fill: #A8DAFB;
  width: 33%;
  height: auto;
}
.home-content-container1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading2 {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text10 {
  text-align: center;
}
.home-card1 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon04 {
  fill: #A8DAFB;
  width: 33%;
  height: auto;
}
.home-content-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading3 {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text13 {
  text-align: center;
}
.home-card2 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon06 {
  fill: #A8DAFB;
  width: 33%;
  height: auto;
}
.home-content-container3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading4 {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text14 {
  text-align: center;
}
.home-card3 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon08 {
  fill: #A8DAFB;
  width: 33%;
  height: auto;
}
.home-content-container4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading5 {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text15 {
  text-align: center;
}
.home-card4 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon10 {
  fill: #A8DAFB;
  width: 33%;
  height: auto;
}
.home-content-container5 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading6 {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text16 {
  text-align: center;
}
.home-card5 {
  width: 30%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-icon-container5 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-icon12 {
  fill: #A8DAFB;
  width: 33%;
  height: auto;
}
.home-content-container6 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-heading7 {
  color: #12212A;
  font-size: 24px;
  font-style: normal;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
.home-text17 {
  text-align: center;
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-portfolio {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-heading-container2 {
  width: 45%;
  display: flex;
  align-items: center;
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text18 {
  color: #12212A;
  font-size: 48px;
  font-family: Fira Sans;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
.home-logo-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-gallery {
  width: 100%;
  height: 1200px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: 1400px;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b b" "a b b" "a c d" "a c d"  "e e d" "e e f" "e e f";
  grid-template-columns: 1fr 1fr 1fr;
}
.home-gallery-card {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: a;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container05 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container05:hover {
  opacity: 1;
}
.home-container06 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text19 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card01 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: b;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image01 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container07 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container07:hover {
  opacity: 1;
}
.home-container08 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text20 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card02 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: c;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image02 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container09 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container09:hover {
  opacity: 1;
}
.home-container10 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text21 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card03 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: d;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image03 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container11 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container11:hover {
  opacity: 1;
}
.home-container12 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text22 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card04 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: e;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image04 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container13 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container13:hover {
  opacity: 1;
}
.home-container14 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text23 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card05 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: f;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image05 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container15 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container15:hover {
  opacity: 1;
}
.home-container16 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text24 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery1 {
  width: 100%;
  height: 1200px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: 1400px;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b b" "a b b" "a c d" "a c d"  "e e d" "e e f" "e e f";
  grid-template-columns: 1fr 1fr 1fr;
}
.home-gallery-card06 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: a;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image06 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container17 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container17:hover {
  opacity: 1;
}
.home-container18 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text25 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card07 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: b;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image07 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container19 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container19:hover {
  opacity: 1;
}
.home-container20 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text26 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card08 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: c;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image08 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container21 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container21:hover {
  opacity: 1;
}
.home-container22 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text27 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card09 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: d;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image09 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container23 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container23:hover {
  opacity: 1;
}
.home-container24 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text28 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card10 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: e;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image10 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container25 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container25:hover {
  opacity: 1;
}
.home-container26 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text29 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card11 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: f;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image11 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container27 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container27:hover {
  opacity: 1;
}
.home-container28 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text30 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery2 {
  width: 100%;
  height: 1200px;
  display: grid;
  grid-gap: var(--dl-space-space-unit);
  max-width: 1400px;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "a b b" "a b b" "a c d" "a c d"  "e e d" "e e f" "e e f";
  grid-template-columns: 1fr 1fr 1fr;
}
.home-gallery-card12 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: a;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image12 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container29 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container29:hover {
  opacity: 1;
}
.home-container30 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text31 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card13 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: b;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image13 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container31 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container31:hover {
  opacity: 1;
}
.home-container32 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text32 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card14 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: c;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image14 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container33 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container33:hover {
  opacity: 1;
}
.home-container34 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text33 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card15 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: d;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image15 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container35 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container35:hover {
  opacity: 1;
}
.home-container36 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text34 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card16 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: e;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image16 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container37 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container37:hover {
  opacity: 1;
}
.home-container38 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text35 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-gallery-card17 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  grid-area: f;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image17 {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.home-container39 {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  z-index: 1;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #00000096;
}
.home-container39:hover {
  opacity: 1;
}
.home-container40 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 32px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text36 {
  color: var(--dl-color-gray-white);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-contact {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-image18 {
  width: 50%;
  align-self: stretch;
  object-fit: cover;
}
.home-container41 {
  width: 50%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-heading-container3 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text37 {
  color: #12212A;
  font-size: 48px;
  font-family: Fira Sans;
  font-weight: 900;
  line-height: 1.22;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: none;
  text-decoration: none;
}
.home-link05 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: #122E68;
}
.home-link06 {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-transform: capitalize;
  text-decoration: none;
  background-color: #122E68;
}
.home-section-separator4 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link07 {
  display: contents;
}
.home-icon14 {
  fill: #12212A;
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-link08 {
  display: contents;
}
.home-image19 {
  width: 25px;
  object-fit: cover;
  text-decoration: none;
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon16 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-link09 {
  color: #12212A;
  font-size: 16px;
  font-family: Fira Sans;
  font-weight: 700;
  line-height: 1.55;
  text-transform: capitalize;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .home-heading {
    color: rgb(18, 33, 42);
    font-size: 24px;
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 700;
    line-height: 1.55;
    text-transform: none;
    text-decoration: none;
  }
  .home-container01 {
    width: 100%;
    height: 750px;
  }
  .home-hero-text-container {
    width: 100%;
  }
  .home-about {
    width: 100%;
  }
  .home-heading-container {
    width: 55%;
    opacity: 0.9;
  }
  .home-content-container {
    opacity: 0.9;
  }
  .home-text06 {
    text-align: justify;
  }
  .home-text07 {
    text-align: justify;
  }
  .home-text08 {
    text-align: justify;
  }
  .home-link04 {
    color: rgb(18, 33, 42);
    font-size: 28px;
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 600;
    border-width: 0px;
    text-decoration: none;
    background-color: rgb(168, 218, 251);
  }
  .home-gallery {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .home-container05 {
    opacity: 0.5;
  }
  .home-text19 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 500;
  }
  .home-container07 {
    opacity: 0.5;
  }
  .home-text20 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 500;
  }
  .home-container09 {
    opacity: 0.5;
  }
  .home-text21 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 500;
  }
  .home-container11 {
    opacity: 0.5;
  }
  .home-text22 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 500;
  }
  .home-container13 {
    opacity: 0.5;
  }
  .home-text23 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 500;
  }
  .home-container15 {
    opacity: 0.5;
  }
  .home-text24 {
    color: var(--dl-color-gray-white);
    font-family: Fira Sans;
  }
  .home-gallery1 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .home-container17 {
    opacity: 0.5;
  }
  .home-text25 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 500;
  }
  .home-container19 {
    opacity: 0.5;
  }
  .home-text26 {
    color: var(--dl-color-gray-white);
    font-family: Fira Sans;
  }
  .home-container21 {
    opacity: 0.5;
  }
  .home-text27 {
    color: var(--dl-color-gray-white);
    font-family: Fira Sans;
  }
  .home-container23 {
    opacity: 0.5;
  }
  .home-text28 {
    color: var(--dl-color-gray-white);
    font-family: Fira Sans;
  }
  .home-container25 {
    opacity: 0.5;
  }
  .home-text29 {
    color: var(--dl-color-gray-white);
    font-family: Fira Sans;
  }
  .home-container27 {
    opacity: 0.5;
  }
  .home-text30 {
    color: var(--dl-color-gray-white);
    font-family: Fira Sans;
  }
  .home-gallery2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .home-container29 {
    opacity: 0.5;
  }
  .home-text31 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 500;
  }
  .home-container31 {
    opacity: 0.5;
  }
  .home-text32 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 500;
  }
  .home-container33 {
    opacity: 0.5;
  }
  .home-text33 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 500;
  }
  .home-container35 {
    opacity: 0.5;
  }
  .home-text34 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 500;
  }
  .home-container37 {
    opacity: 0.5;
  }
  .home-text35 {
    color: var(--dl-color-gray-white);
    font-style: normal;
    font-family: Fira Sans;
    font-weight: 500;
  }
  .home-container39 {
    opacity: 0.5;
  }
  .home-text36 {
    color: var(--dl-color-gray-white);
    font-family: Fira Sans;
  }
}
@media(max-width: 1200px) {
  .home-hero-text-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 991px) {
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-hero-text-container {
    width: 80%;
    align-items: center;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading1 {
    text-align: center;
  }
  .home-text {
    text-align: center;
  }
  .home-text01 {
    text-align: center;
  }
  .home-gallery {
    grid-gap: var(--dl-space-space-unit);
  }
  .home-gallery1 {
    grid-gap: var(--dl-space-space-unit);
  }
  .home-gallery2 {
    grid-gap: var(--dl-space-space-unit);
  }
}
@media(max-width: 767px) {
  .home-navbar {
    position: relative;
  }
  .home-links-container {
    display: none;
  }
  .home-heading-container {
    width: 100%;
  }
  .home-text05 {
    text-align: center;
  }
  .home-content-container {
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .home-about-1 {
    width: 65%;
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card4 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-card5 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-heading-container2 {
    width: 100%;
  }
  .home-gallery {
    height: auto;
    display: flex;
    padding: 32px;
    flex-direction: column;
  }
  .home-gallery-card {
    flex-direction: column;
  }
  .home-gallery-card01 {
    flex-direction: column;
  }
  .home-gallery-card02 {
    flex-direction: column;
  }
  .home-gallery-card03 {
    flex-direction: column;
  }
  .home-gallery-card04 {
    flex-direction: column;
  }
  .home-gallery-card05 {
    flex-direction: column;
  }
  .home-gallery1 {
    height: auto;
    display: flex;
    padding: 32px;
    flex-direction: column;
  }
  .home-gallery-card06 {
    flex-direction: column;
  }
  .home-gallery-card07 {
    flex-direction: column;
  }
  .home-gallery-card08 {
    flex-direction: column;
  }
  .home-gallery-card09 {
    flex-direction: column;
  }
  .home-gallery-card10 {
    flex-direction: column;
  }
  .home-gallery-card11 {
    flex-direction: column;
  }
  .home-gallery2 {
    height: auto;
    display: flex;
    padding: 32px;
    flex-direction: column;
  }
  .home-gallery-card12 {
    flex-direction: column;
  }
  .home-gallery-card13 {
    flex-direction: column;
  }
  .home-gallery-card14 {
    flex-direction: column;
  }
  .home-gallery-card15 {
    flex-direction: column;
  }
  .home-gallery-card16 {
    flex-direction: column;
  }
  .home-gallery-card17 {
    flex-direction: column;
  }
  .home-contact {
    flex-direction: column;
  }
  .home-image18 {
    width: 70%;
  }
  .home-container41 {
    width: 100%;
    align-items: center;
  }
  .home-heading-container3 {
    width: 100%;
  }
  .home-text38 {
    text-align: center;
  }
  .home-image19 {
    width: 70%;
  }
}
@media(max-width: 479px) {
  .home-hero-text-container {
    width: 100%;
  }
  .home-about-1 {
    width: 100%;
  }
  .home-card {
    width: 100%;
  }
  .home-card1 {
    width: 100%;
  }
  .home-card2 {
    width: 100%;
  }
  .home-card3 {
    width: 100%;
  }
  .home-card4 {
    width: 100%;
  }
  .home-card5 {
    width: 100%;
  }
  .home-gallery {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
  .home-image {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container05 {
    max-width: auto;
  }
  .home-image01 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container07 {
    max-width: auto;
  }
  .home-image02 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container09 {
    max-width: auto;
  }
  .home-image03 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container11 {
    max-width: auto;
  }
  .home-image04 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container13 {
    max-width: auto;
  }
  .home-image05 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container15 {
    max-width: auto;
  }
  .home-gallery1 {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
  .home-image06 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container17 {
    max-width: auto;
  }
  .home-image07 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container19 {
    max-width: auto;
  }
  .home-image08 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container21 {
    max-width: auto;
  }
  .home-image09 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container23 {
    max-width: auto;
  }
  .home-image10 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container25 {
    max-width: auto;
  }
  .home-image11 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container27 {
    max-width: auto;
  }
  .home-gallery2 {
    width: 100%;
    padding: var(--dl-space-space-unit);
  }
  .home-image12 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container29 {
    max-width: auto;
  }
  .home-image13 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container31 {
    max-width: auto;
  }
  .home-image14 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container33 {
    max-width: auto;
  }
  .home-image15 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container35 {
    max-width: auto;
  }
  .home-image16 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container37 {
    max-width: auto;
  }
  .home-image17 {
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
  }
  .home-container39 {
    max-width: auto;
  }
  .home-image18 {
    width: 100%;
  }
  .home-container41 {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-image19 {
    width: 100%;
  }
}
